.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

body {
    background-color: #cacaca;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 16px;
    line-height: 2em;
    margin: 0;  
}

#navbar{
    background-color: #8f8e8e;
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding-right: 15px;
}

#navbar a:hover{
    color: hotpink;
}

#navbar a:active{
    color: green;
}

.zones a{
    color: #555;
    text-decoration: none;
    font-size: 16px;
}

.zones a:hover{
    color: hotpink
}
.zones a:active{
    color: green;
}

@media(max-width: 600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}