.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    
}

.container h1, h2{
    font-weight: 300;
    
}

.container hr{
    border: 1px  #6cb197;
    border-radius: 2px;
    border-style: dashed;
    width: 30%;
}


body {
    background-color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 16px;
    line-height: 2em;
    margin: 0px;
    margin-bottom: 50px;
}

input {
    width:50%;
    padding: 12px 20px;
    margin: 12px;
    box-sizing: content-box;
}

input[type=submit], input[type=button]{
    background-color: #007047;
    border: #007047;
    border-radius: 5px;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover{
    background-color: #04AA6D;
    color: white;
}

input[type=submit]:active, input[type=button]:active{
    border-style: inset;
}

.delete{
    display: inline-block;
}

input[type=radio]{
    width: auto;

}

#nav-button{
    width: 5%;
    display: inline-table;
    margin: -20px;
    margin-left: 0px;
}

#navbar{
    background-color: #8f8e8e;
    color: #fff;
    position: sticky;
    top: 0;  
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding-right: 10px;
}

#navbar a:hover{
    color: #04AA6D;
}

#navbar a:active{
    color: red;
}

.zones a{
    color: #555;
    text-decoration: none;
    font-size: 18px;
}

.zones a:hover{
    color: #04AA6D;
}
.zones a:active{
    color: red;
}

.topics a{
    color: #555;
    text-decoration: none;
    font-size: 21px;
    
}

.topics a:hover{
    color: #04AA6D;
}
.topics a:active{
    color: red;
}

.topics p{
    font-size: 11px;
    margin-top: -10px;
}

.topics ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.topics li{
    display:inline-table;
}

.messages ul{
    list-style: none;
}

.messages table{
    border-collapse:collapse;
    width: 100%;
    margin-top: 20px;
}

.messages th{
    text-align: left;
    display: inline-flexbox;
    font-size: 11px;
    font-weight: bold;
    background-color: #71ac9513;
    padding-right: 20px;
    width: auto;
    vertical-align: top;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 20px;
    
}

.messages tr{
    border: none;
}

.messages td{
    width: 80%;
    border: dotted 2px #6cb197;
    border-radius: 2px;
    padding: 20px;
    line-height: 1.3em;
    text-align: left;
}





#date{
    font-weight: 300;
    font-size: 11px;
    color: rgb(13, 90, 13);
    margin-top: -10px;
    line-height: 2em;
    white-space: nowrap;
}

.zones input{
    background-color: rgba(255, 0, 0, 0.15);
    display: inline;
    margin: 5px;
    padding: 5px;
}

.zones input:hover{
    background-color: red;
}

.topics input{
    background-color: rgba(255, 0, 0, 0.15);
    display: inline;
    margin: 5px;
    padding: 5px;
}

.topics input:hover{
    background-color: red;

}

.messages input{
    background-color: rgba(255, 0, 0, 0.15);
    display: inline;
    margin: 5px;
    padding: 5px;
}

.messages input:hover{
    background-color: red;

}

.flash{
    margin: auto;
    width: 40%;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    color: rgba(255, 0, 0, 0.568);  
}

.success{
    color: rgb(3, 173, 3);
}



@media(max-width: 600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}
