{% extends "layout.html" %}
{% block title %}Delete{% endblock %}
{% block content %}
{% if session.admin %}
<div class="delete">
    <h2>Delete:</h2>
    <p> {{username}}'s post?</p>
    <form action="/deletereply/{{zone_name}}/{{topic_id}}/{{reply_id}}/{{username}}" method="post">
        <input type="radio" name="yes_no" value="yes">Yes</input>
        <input type="radio" name="yes_no" value="no" checked>No</input>
        <input type="submit" value="Submit">
    </form>
</div>
{% endif %}   
{% endblock %}