{% extends "layout.html" %}
{% block title %}Modify reply{% endblock %}
{% block content %}
{% if session.name == username or session.admin %}
    <h2>Edit topic:</h2>
    <form action="/edittopic/{{name}}/{{topic_id}}" method="post">
        <input type="text" required autofocus name="title" maxlength="100">
        <textarea name="content" cols="30" rows="15">{{content}}</textarea>
        <input type="submit" value="Modify">
    </form>
    <hr>
    <p id="original-title">"{{title}}"</p>
    <p id="original">"{{content}}"</p>
    <hr>

    <script type="text/javascript">
        document.querySelector('input[name="title"]').value = "{{title}}";
    </script>
{% else %}
    <p>You don't have rights</p>
{% endif %}   
{% endblock %}
