{% extends "layout.html" %}
{% block title %}Modify reply{% endblock %}
{% block content %}
{% if session.name == username or session.admin %}
    <h2>Edit reply:</h2>
    <form action="/editreply/{{name}}/{{topic_id}}/{{reply_id}}" method="post">
        <textarea name="content" cols="30" rows="15">{{content}}</textarea>
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        <input type="submit" value="Modify">
    </form>
    <hr>
    <p id="original">"{{content}}"</p>
    <hr>
{% else %}
    <p>You don't have rights</p>
{% endif %}   
{% endblock %}
