{% extends "layout.html" %}
{% block title %}Modify reply{% endblock %}
{% block content %}
{% if session.name == username or session.admin %}
    <h2>Edit topic:</h2>
    <form action="/edittopic/{{name}}/{{topic_id}}" method="post">
        <input type="text" required autofocus name="title" maxlength="100">
        <textarea name="content" cols="30" rows="15"></textarea>
        <input type="submit" value="Modify">
    </form>

    <script>
        document.querySelector('input[name="title"]').value = "{{title}}";
        document.querySelector('textarea[name="content"]').value = "{{content}}";
    </script>

{% else %}
    <p>You don't have rights</p>
{% endif %}   
{% endblock %}
