<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <title>Discussion Forum -{% block title %} {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<header>
    <div class="container">
        <h1>Discussion Forum</h1>
    </div>
</header>
<nav id="navbar">
    <div class="container">
        <ul>
            {% if session.name %}
                <li><a href="/discussion">Discussion</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/logout">Log out ({{ session.name }})</a></li>
            {% else %}
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign-up</a></li>
            {% endif %}
            {% if session.name %}
            <li>{% block action %} {% endblock %}</li>
            {% endif %}
            {% if session.admin %}
            <li>{% block adminbar %} {% endblock %}</li>
            {% endif %}
        </ul>
    </div>
</nav>


<body>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>

</html>