{% extends "layout.html" %}
{% block title %}Discussion{% endblock %}
{% block action%}
    <form id="nav-button" action="/newtopic/{{zone.name}}">
    <input type="submit" value="New topic">
    </form>
{% endblock %}
{% block content %}
{% if session.name %}
    <div class="topic-header">
        <h2>{{zone.name}}</h2>
    </div>
    <hr>
    {% for topic in topics %}
    <div class="topics">
        <a href="/discussion/{{zone.name}}/{{topic.id}}">{{topic.title}}</a>
        {% if session.admin %}
            <ul>
                <li>
                    <p>Author: {{topic.username}} Started: {{topic.created_at.strftime('%d-%m-%Y %H:%M:%S')}}</p>
                </li>
                <li>
                    <form id="nav-button" action="/deletetopic/{{zone.name}}/{{topic.id}}/{{topic.title}}">
                        <input type="submit" value="DEL">
                    </form> 
                </li>
            </ul>   
        {% else%}
            <p>Author: {{topic.username}} Started: {{topic.created_at.strftime('%d-%m-%Y %H:%M:%S')}}</p> 
        {% endif %}
    </div>
    <hr>
    {% endfor %}
{% else %}
<div class="zones">
    <br>
        <a href="/login">Please log in</a>
    <hr>
</div>
{% endif%}

{% endblock %}